:root {
  --text: #42544b;
  --text-h: #172b22;
  --bg: #fbfcf8;
  --border: #d9e1d9;
  --accent: #a4432f;

  background: var(--bg);
  color: var(--text);
  font-family: system-ui, 'Segoe UI', sans-serif;
  font-synthesis: none;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  border-inline: 1px solid var(--border);
  margin: 0 auto;
  max-width: 1126px;
  min-height: 100vh;
}

h1,
p {
  margin-top: 0;
}

h1 {
  color: var(--text-h);
  font-size: 48px;
  font-weight: 600;
}
